<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nrthwnd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nrthwnd.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nrthwnd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nrthwnd</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NorthwindContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User ID=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd" Name="Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Northwind_CRUD_frits.DAL.NorthwindContext, Northwind(CRUD)frits" MigrationConfiguration="Northwind_CRUD_frits.Migrations.Configuration, Northwind(CRUD)frits" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User ID=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd" Name="Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=USER-PC;Initial Catalog=NORTHWND;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=USER-PC;Initial Catalog=NORTHWND;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nrthwndserver.database.windows.net,1433;Initial Catalog=NorthwindContext;User Id=nrthwndadmin@nrthwndserver.database.windows.net;Password=n0rthw!nd;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Northwind_CRUD_frits.Models.ProductsDBContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Northwind_CRUD_frits.Models.CustomerDBContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>